.example-viewport {
  height: 300px;
  width: 100%;
}

.example-item {
  height: 50px;
}

tbody .type {
  border: 1px solid #e0e0e0;
  color: #000000;
  display: inline-flex;
  padding: 5px 20px;
  border-radius: 55px;
  align-items: center;
  margin: 4px;
}
